cbf{

display: flexbox;
height: 350px;
width: 450px;

background-color: rgb(255, 255, 0);

}

.cabecario{

display: flex;
align-self: center;
background-color: yellow;
gap: 300px;
}


.vini{ 

display: block;


margin-left:  auto;
margin-right: auto;

height: 10%;
width: 20%;

}

.raphinha{

display: block;

margin-left: auto;
margin-right: auto;

height: 10%;
width: 20%;

}

.endrick{

display: block;

margin-left: auto;
margin-right: auto;

height: 10%;
width: 20%;

}

.ney{

display: block;

margin-left: auto;
margin-right: auto;

height: 10%;
width: 20%;

}

.case{

display: block;

margin-left: auto;
margin-right: auto;

height: 10%;
width: 20%;

}

.paqueta{

display: block;

margin-left: auto;
margin-right: auto;

height: 10%;
width: 20%;

}

.ederson{

display: block;

margin-left: auto;
margin-right: auto;

height: 10%;
width: 20%;

}

.fabinho{

display: block;

margin-left: auto;
margin-right: auto;

height: 10%;
width: 20%;

}








