.vini{ 

display: block;

margin-left:  auto;
margin-right: auto;

height: 10%px;
width: 30%px;

}

.raphinha{

display: block;

margin-left: auto;
margin-right: auto;

height: 10%px;
width: 30%px;

}

.endrick{

display: block;

margin-left: auto;
margin-right: auto;

height: 10%px;
width: 30%px;

}

.ney{

display: block;

margin-left: auto;
margin-right: auto;

height: 10%px;
width: 30%px;

}

